/* calendar-custom.css */
.event-day {
  background-color: #e0f2ff !important;
  border-radius: 50%;
}

.react-calendar__tile--now {
  background: #b3d4fc !important;
}

.tooltip {
  z-index: 10;
  position: absolute;
  pointer-events: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
